{% load bootstrap4 %}
{% load static %}
{% load createx_tag %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Ubuntu:wght@400;700&display=swap"
		rel="stylesheet">
		<link rel="icon" href="{% static 'img/header/logo.svg' %}">
	{% bootstrap_css %}
		<link rel="stylesheet" href="{% static 'css/min_style.css' %}">
		<link rel="stylesheet" href="{% static 'css/statick_style.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% bootstrap_javascript jquery='full' %}
	<title>{{title}}</title>
</head>
<body>
	
	<div class="wrapper">
		{% block form %}
		
		{% endblock form %}
		
		{% include 'include/header.html' %}
		<main class="main">
		{% block content %}
		{% endblock content %}
		</main>
		{% include 'include/discussFormBlock.html' %}
		{% include 'include/footer.html' %}
	</div>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script1.js' %}"></script>

</body>
</html>