{% load static %}
<div class="discuss_block">
	<div class="discuss_block_form">
		<div class="block_form_discuss">
			<h2 class="h2_center_28_pb">A quick way to discuss details</h2>
			<form action="{% url 'addDiscuss' %}" method="post" name="discuss" id="discuss_form" class="discuss_form">
				{% csrf_token %}
				<label for="{{DiscussForUserForm.userName.id_for_label}}">Name*</label>
				{{DiscussForUserForm.userName}}
				<label for="{{DiscussForUserForm.phoneNumberUser.id_for_label}}">Phone*</label>
				{{DiscussForUserForm.phoneNumberUser}}
				<label for="{{DiscussForUserForm.emailUser.id_for_label}}">Email*</label>
				{{DiscussForUserForm.emailUser}}
				<label for="{{DiscussForUserForm.discussContent.id_for_label}}">Message*</label>
				{{DiscussForUserForm.discussContent}}
				<div class="flex_checkbox_block">
					{{DiscussForUserForm.userAgree}}
					<label for="{{DiscussForUserForm.userAgree.id_for_label}}" id="iAgree_label">I agree to receive communications from Createx Construction Bureau.</label>
				</div>
				<div class="submit_btn">
					<button type="submit" class="submit_discuss">send request</button>
				</div>
				
			</form>
		</div>
	</div>
	<div class="discuss_block_img">
		<img src="{% static 'img/discuss/discuss_bg.jpg' %}" alt="Фон" class="discuss_block_img_bg">
	</div>
</div>